<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row">
         {% if articles %}
           {% if articles[0].modified %}
             {% set copy_date = articles[0].modified.strftime('%Y') %}
           {% else %}
             {% set copy_date = articles[0].date.strftime('%Y') %}
           {% endif %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10 text-muted">
            <a href="https://thousandcurrents.org/" target="_blank">Thousand Currents</a>: 
              Supporting bold solutions for climate, food, and economic justice.
         </div>
      </div>
   </div>
</footer>
